.link{
    text-decoration: none;
    color:whitesmoke;
    padding:5px 10px;
    margin: 5px 10px;
}
.button{
    background-color: orange;
    border:0 solid gray;
    border-radius: 5px;
    
}
.head{
    margin-left: 30px;
}
.header{
    margin-left: 30px;
}
.other-img{
    width: 600px;
}
.center{
    text-align: center;
}

.frist-part{
    display: flex;
    margin: 20px;
    padding: 15px;
}
.logo{
    
    
    
    border:5px solid gray;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.shadow{
    box-shadow:5px 10px 20px gray;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.fa-star{ 
            color: orange;
}
.icons{
    display: flex;
    align-items: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.img-set{
    width:600px;
    margin: 50px;
}
footer{
    text-align: center;
    background-color:darkblue;
    color: whitesmoke;
    margin: 0;
    @media screen and (max-width:) {
        
    }
}
@media screen and (max-width:1400px){

     .other-img{
        width: 50%;
        
    }
    .frist-part{
        display: flex;
        width: 100%;
    }
    .logos{
        display: flex;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width:100%;
    }
    .img-set{
        width:70%;
    }
    footer{
        width:100%;
    }
}
@media  screen and (max-width:900px) {
    .other-img{
        width: 70%;
        order: 1;
    }
    .frist-part{
        flex-direction: column;
        width: 100%;
    }
    .logos{
        flex-direction: column;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width:95%;
    }
    .img-set{
        width:70%;
    }
    footer{
        width:100%;
    }
    
}







@media screen and (max-width:700px) {
    
    .head{
        text-align: center;
    }
    
    .products{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
    }
    .img-set{
        width: 80%;
    }
    footer{
        width: 80%;
    }
}